{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/events/event-detail.css' %}"/>
{% endblock %}

{% block content %}
<section class="page-header">
  <h1>{{ event.title }}</h1>
</section>

<section class="event-detail">
  {% if event.image %}
    <img src="{{ event.image.url }}" alt="{{ event.title }} image" style="max-width: 100%;">
  {% endif %}
  <p>ID: {{ event.id }}</p>
  <p>When/where: {{ event.date }} at {{ event.location }}. {{ event.category }}</p>
  <p>{{ event.tags }}</p>
  <p><small>{{ event.description }}</small></p>

  {% if user.is_authenticated %}
    {% if user_has_rsvped %}
      <p>You have RSVP'd for this event.</p>
      <form method="post" action="{% url 'rsvp-event' event.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Cancel RSVP</button>
      </form>
    {% else %}
      <form method="post" action="{% url 'rsvp-event' event.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">RSVP to this Event</button>
      </form>
    {% endif %}
  {% else %}
    <p>Please <a href="{% url 'log-in' %}">log in</a> to RSVP.</p>
  {% endif %}
</section>
{% endblock %}
