{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/events/event-index.css' %}"/>
{% endblock %} 

{% block content %}
<section class="page-header">
  <h1>Event List</h1>
</section>

<section class="card-container">
  {% if events %}
    {% for event in events %}
      <div class="card">
        <div class="card-content">
          <h2 class="card-title">{{ event.title }}</h2>
          <p>ID: {{ event.id }}</p> <!-- Display Event ID -->
          <p>When/where: {{ event.date }} at {{ event.location }}. {{ event.category }}</p>
          <p>{{ event.tags }}</p>
          <p><small>{{ event.description }}</small></p>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No events available.</p>
  {% endif %}
</section>
{% endblock %}
