{% extends 'base.html' %} 
{% block content %}
<h1>About YokelPulse</h1>
<hr />
<p class="page-content">
  Welcome to YokelPulse, a platform dedicated to connecting local communities through events and activities that matter most to you. Whether you're looking to attend a concert, participate in a charity run, or simply find a new hobby, YokelPulse is your go-to source for discovering what's happening in your area. 
  
  Our mission is to ease the stress of moving to a new place and foster a sense of belonging and community spirit by providing a comprehensive, easy-to-use platform that highlights local events and brings people together. With a focus on inclusivity and local engagement, YokelPulse is more than just an event listing service—it's a hub for community interaction and growth. Join us in exploring the vibrant tapestry of local culture, supporting local businesses, and building lasting connections with your neighbors.  For all the yokels who need a pulse on local events.
</p>
{% endblock %}
