{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YokelPulse</title>
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'event-index' %}">Events</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'log-out' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'log-in' %}">Log In</a></li>
                    <li><a href="{% url 'sign-up' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
